form(ng-submit="submit(ciclo)")
  p
    label(for="year_input") Ano
    input#year_input(type="text" ng-model="ciclo.name")
  p
    label(for="end_input") Data do fim do monitoramento deste ciclo
    input#end_input(type="text" date-input="ciclo.endDate" input-format="'DD/MM/YYYY'" output-format="'YYYY-MM-DD'" placeholder="DD/MM/AAAA")
  p
    label(for="active_input") Ativo
    span.checkbox-list.row
      span.checkbox-item
        input#active_input(type="checkbox" ng-model="ciclo.active")
        label(for="active_input") Marcar como ciclo vigente
    
  p
    input(type="submit" value="Salvar")
