h3 Organizações do ciclo {{ciclo.name}}
p As organizações 
  strong confirmadas 
  | são as que responderam a solicitação de participação. As organizações 
  strong ativas 
  | responderam positivamente à solicitação e fazem parte do monitoramento deste ciclo.
p Clique no ícone para alterar o estado de confirmação ou atividade da organização.
table
  thead
    tr
      th Nome
      th.action Confirmada
      th.action Ativa
      //- th.action Remover do ciclo
  tbody
    tr(ng-repeat="enrollee in enrollees")
      td {{enrollee.organization.name}}
      td
        a.icon.icon-check(href="javascript:void(0);" ng-click="confirm(enrollee)" ng-class="{inactive: !enrollee.confirmed}")
      td
        a.icon.icon-check(href="javascript:void(0);" ng-click="activate(enrollee)" ng-class="{inactive: !enrollee.active}")
      //- td
      //-   a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(enrollee)")
