header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.cycle") Ciclos
  a(ui-sref="dashboard.cycle.edit({id: null})") + Novo ciclo
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Ano
        th Prazo
        th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="ciclo in ciclos")
        td {{ciclo.name}}
        td 
          span(ng-show="ciclo.endDate") {{ciclo.formattedDate.fromNow}} ({{ciclo.formattedDate.date}})
        td 
          a.icon.icon-pencil(ui-sref="dashboard.cycle.edit({'id': ciclo.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(ciclo)")
