header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.eixo") Eixos
  a(ui-sref="dashboard.eixo.edit") + Novo
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Nome
        th Cor
        th Editar
        th Remover
    tbody
      tr
        td Enfrentamento e repressão
        td #00C1F3
        td 
          a.icon.icon-pencil(ui-sref="dashboard.eixo.edit")
        td 
          a.icon.icon-cross(href="javascript:void(0);")
