form(ng-submit="submit(eixo)")
  p
    label(for="id_input") ID
    input#id_input(type="text" ng-model="eixo.id")
  p
    label(for="name_input") Nome
    input#name_input(type="text" ng-model="eixo.name")
  p
    label(for="color_input") Cor
    input#color_input(type="text" ng-model="eixo.color")
  p
    label(for="description_input") Descrição
    textarea#description_input(ng-model="eixo.description")
  p
    input(type="submit" value="Enviar")
