header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.eixo") Eixos
  a(ui-sref="dashboard.eixo.edit({id: null})") + Novo eixo
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th ID
        th Nome
        th Cor
        th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="eixo in eixos")
        td {{eixo.id}}
        td {{eixo.name}}
        td 
          span.color(style="background:{{eixo.color}};") {{eixo.color}}
        td 
          a.icon.icon-pencil(ui-sref="dashboard.eixo.edit({'id': eixo.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);")
