form(ng-submit="submit(eixo)")
  p
    label(for="id_input") ID
    input#id_input(type="text" ng-model="eixo.id")
  p
    label(for="name_input") Nome
    input#name_input(type="text" ng-model="eixo.name")
  p
    label(for="color_input") Cor
    input#color_input(type="text" ng-model="eixo.color")
  p
    label(for="description_input") Descrição
    textarea#description_input(ng-model="eixo.description")
  p
    label(for="actions_input") Ações
    span.checkbox-list.row
      span.checkbox-item(ng-repeat="action in actions" style="width:80px;")
        input(id="actions_input_{{action.id}}" type="checkbox" ng-model="selectedActions[action.id]" ng-value="action.id")
        label(for="actions_input_{{action.id}}") {{action.id}}
  p
    label(for="blog_input") Blog
    span.checkbox-list.row
      span.checkbox-item
        input(id="blog_input" type="checkbox" ng-model="eixo.blog")
        label(for="blog_input") Este eixo tem um formato de blog
  p
    input(type="submit" value="Salvar")
