form
  p
    label(for="name_input") Nome
    input(type="text" id="name_input" ng-model="eixo.name")    
  p
    label(for="color_input") Cor
    input(type="text" id="color_input" ng-model="eixo.color")
  p
    input(type="submit" value="Enviar")
