section#forgot.mastform
  h1 Esqueci minha senha
  p(ng-show="done") Verifique seu email para atualizar sua senha.
  form(ng-submit="forgot(credentials)" ng-hide="done")
    p
      label(for="email") Email
      input#email(type="email" ng-model="credentials.email" placeholder="Digite seu email")
    p
      input(type="submit" value="Recuperar senha")
.message-notification(ng-controller="MessageCtrl")
  .message-item(ng-repeat="message in messages" ng-show="message.text")
    .message-content
      a.close-button(ng-click="close(message)" href="javascript:void(0);") x
      p(ng-class="message.status" ng-bind-html="getMessage(message)")
