section#dashboard
  header#dashboard-header
    .container
      .three.columns
        h1
          a(ui-sref="dashboard") Painel de Controle
      .nine.columns
        nav#dashboard-breadcrumbs
  .container
    .three.columns
      nav#dashboard-nav
        ul(ng-show="user.isAdmin")
          li
            a(ui-sref="dashboard.cycle" ui-sref-active="active") Ciclos
          li
            a(ui-sref="dashboard.action" ui-sref-active="active") Ações
          li
            a(ui-sref="dashboard.eixo" ui-sref-active="active") Eixos
          li
            a(ui-sref="dashboard.indicador" ui-sref-active="active") Indicadores
          li
            a(ui-sref="dashboard.organization" ui-sref-active="active") Organizações
          li
            a(ui-sref="dashboard.user" ui-sref-active="active") Usuários
          li
            a(ui-sref="dashboard.notification" ui-sref-active="active") Notificações
        ul
          li
            a(ui-sref="dashboard.profile" ui-sref-active="active") Meu perfil
          li
            a(href="javascript:void(0);" ng-click="logout()") Sair
    .nine.columns
      section#dashboard-content.row(ui-view)
        .clearfix
          .twelve.columns
            .widget.welcome-widget
              h2 Olá {{user.name}}
              p(ng-show="activeCycle") O ciclo ativo no monitoramento atual é {{activeCycle.name}}.
              p(ng-show="activeCycle.endDate") {{endCycleText}} 
                strong {{endCycleFromNow}} 
                | ({{endCycleDate}})
              p.warning(ng-show="user.isAdmin && !activeCycle") Nenhum ciclo está ativo! 
                a(ui-sref="dashboard.cycle") Clique aqui para editar os ciclos
        .clearfix
          .twelve.columns
            .widget.welcome-widget
              .row(ng-show="userOrganization")
                h2 {{userOrganization.name}}
                p Sua organização deve responder a 
                  strong {{userIndicators.length}} 
                  | indicadores.
                p Até o encerramento do prazo de monitoramento, indicado pelo ciclo, você pode responder e editar as respostas já enviadas.
              .org-indicators(ng-show="userIndicators.length")
                h3 Indicadores da minha organização
                table
                  thead
                    tr
                      th Título
                      th.action Responder
                  tbody
                    tr(ng-repeat="indicador in userIndicators")
                      td {{indicador.description}}
                      td 
                        a.icon(ui-sref="dashboard.indicador.feedback({id: indicador.id})")
                          span.icon.icon-pencil(ng-hide="indicador.feedbacks.length")
                          span.icon.icon-check(ng-show="indicador.feedbacks.length")
        .clearfix
          .six.columns
            .widget.content-widget(ng-show="user.isAdmin")
              h2 Conteúdo
              table
                thead
                  tr
                    th Tipo de conteúdo
                    th Quantidade
                tbody
                  tr 
                    td 
                      a(ui-sref="dashboard.cycle") Ciclos
                    td {{count.cycle.count}}
                  tr
                    td
                      a(ui-sref="dashboard.action") Ações
                    td {{count.action.count}}
                  tr
                    td
                      a(ui-sref="dashboard.eixo") Eixos
                    td {{count.axis.count}}
                  tr
                    td
                      a(ui-sref="dashboard.indicador") Indicadores
                    td {{count.indicator.count}}
                  tr
                    td
                      a(ui-sref="dashboard.organization") Organizações
                    td {{count.organization.count}}
                  tr 
                    td
                      a(ui-sref="dashboard.user") Usuários
                    td {{count.user.count}}
          .six.columns
            .widget.status-widget(ng-show="user.isAdmin")
              h2 Monitoramento {{activeCycle.name}}
              replied-percent(ratio="{'questions':130,'replied':60}")
            .widget.organizations-widget(ng-show="user.isAdmin && pendingOrganizations.length")
              .row
                h3 Organizações pendentes para este ciclo
                table
                  thead
                    tr
                      th Nome
                  tbody
                    tr(ng-repeat="enrollee in pendingOrganizations")
                      td {{enrollee.organization.name}}
.message-notification(ng-controller="MessageCtrl")
  .message-item(ng-repeat="message in messages" ng-show="message.text")
    .message-content
      a.close-button(ng-click="close(message)" href="javascript:void(0);") x
      p(ng-class="message.status" ng-bind-html="getMessage(message)")
