section#dashboard
  header#dashboard-header
    .container
      .three.columns
        h1
          a(ui-sref="dashboard") Painel de Controle
      .nine.columns
        nav#dashboard-breadcrumbs
  .container
    .three.columns
      nav#dashboard-nav
        ul(ng-show="user.isAdmin")
          li
            a(ui-sref="dashboard.cycle" ui-sref-active="active") Ciclos
          li
            a(ui-sref="dashboard.action" ui-sref-active="active") Ações
          li
            a(ui-sref="dashboard.eixo" ui-sref-active="active") Eixos
          li
            a(ui-sref="dashboard.indicador" ui-sref-active="active") Indicadores
          li
            a(ui-sref="dashboard.organization" ui-sref-active="active") Organizações
          li
            a(ui-sref="dashboard.user" ui-sref-active="active") Usuários
        ul
          li
            a(ui-sref="dashboard.profile" ui-sref-active="active") Meu perfil
          li
            a(href="#") Minhas perguntas
        ul
          li
            a(href="javascript:void(0);" ng-click="logout()") Sair
    .nine.columns
      section#dashboard-content(ui-view)
        .row
          .six.columns.alpha
            .widget.welcome-widget
              h2 Olá {{user.name}}
              p(ng-show="activeCycle") O ciclo ativo no monitoramento atual é {{activeCycle.name}}.
              p(ng-show="activeCycle.endDate") O monitoramento deste ciclo será concluído para análise final 
                strong {{endCycleFromNow}} 
                | ({{endCycleDate}})
              p.warning(ng-show="user.isAdmin && !activeCycle") Nenhum ciclo está ativo! 
                a(ui-sref="dashboard.cycle") Clique aqui para editar os ciclos
            .widget.content-widget(ng-show="user.isAdmin")
              h2 Conteúdo
              table
                thead
                  tr
                    th Tipo de conteúdo
                    th Quantidade
                tbody
                  tr 
                    td 
                      a(ui-sref="dashboard.cycle") Ciclos
                    td {{count.cycle.count}}
                  tr
                    td
                      a(ui-sref="dashboard.action") Ações
                    td {{count.action.count}}
                  tr
                    td
                      a(ui-sref="dashboard.eixo") Eixos
                    td {{count.axis.count}}
                  tr
                    td
                      a(ui-sref="dashboard.indicador") Indicadores
                    td {{count.indicator.count}}
                  tr
                    td
                      a(ui-sref="dashboard.organization") Organizações
                    td {{count.organization.count}}
                  tr 
                    td
                      a(ui-sref="dashboard.user") Usuários
                    td {{count.user.count}}
          .six.columns.omega
            .widget.status-widget
              h2 Monitoramento {{activeCycle.name}}
              replied-percent(ratio="{'questions':130,'replied':60}")
            .widget.organizations-widget
              .row
                h3 Organizações pendentes
