.dashboard-review
  h3 Avaliando "
    strong {{indicador.description}}
    | " em 
    strong {{cycle.name}}
  .feedbacks(ng-show="feedbacks.length")
    p Respostas das organizações para este ciclo
    table
      thead
        tr 
          th Organização
          th(ng-show="indicador.type == 'integer'") Valor
          th(ng-show="indicador.type == 'percentual'") Percentual
          th(ng-show="indicador.type == 'boolean'") Resposta
          th Comentário
      tbody
        tr(ng-repeat="feedback in feedbacks")
          td {{feedback.organization.name}}
          td(ng-show="indicador.type == 'integer'") {{feedback.value.value}}
          td(ng-show="indicador.type == 'percentual'") {{feedback.value.percentual}}
          td(ng-show="indicador.type == 'boolean'") {{feedback.value.bool ? 'Sim' : 'Não'}}
          td {{feedback.value.comments}}
  p(ng-hide="feedbacks.length") Não há respostas para este indicador no ciclo {{cycle.name}}
  .pending(ng-show="pending.length")
    h3 Pendências
    p Organizações de resposta pendente
    table
      thead
        tr
          th Organização
          th Motivo
      tbody
        tr(ng-repeat="organization in pending")
          td {{organization.name}}
          td
            span(ng-show="organization.enrollments[0].active") Organização ainda não respondeu
            span(ng-hide="organization.enrollments[0].active") Organização optou por não participar deste ciclo

  form(ng-submit="submit(review)")
    p
      label(for="status_input") Avaliação geral
      span.radio-list.row
        span.radio-item
          input#status_input_2(type="radio" ng-model="review.status" value="complete")
          label(for="status_input_2") Cumprido
        span.radio-item
          input#status_input_1(type="radio" ng-model="review.status" value="partial")
          label(for="status_input_1") Parcialmente cumprido
        span.radio-item
          input#status_input_0(type="radio" ng-model="review.status" value="incomplete")
          label(for="status_input_0") Não cumprido
    p
      label(for="review_input") Análise do gestor
      textarea#review_input(ng-model="review.analysis")
    p
      input(type="submit" value="Salvar")
    p
      button(href="javascript:void(0);" ng-click="delete(review)" ng-show="review.id && activeCycle.id == cycle.id") Remover avaliação
