header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.indicador") Indicadores
  a(ui-sref="dashboard.indicador.edit({id: null})") + Novo indicador
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Título
        th Eixo
        th.action Avaliar
        th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="indicador in indicadores")
        td {{indicador.description}}
        td 
          a.button(ui-sref="dashboard.eixo.edit({'id': indicador.axisId})") {{indicador.axisId}}
        td 
          a.icon(ui-sref="dashboard.indicador.review({'id': indicador.id})" title="Editar")
            span.icon.icon-eye(ng-hide="indicador.assessed")
            span.icon.icon-check(ng-show="indicador.assessed")
        td 
          a.icon.icon-pencil(ui-sref="dashboard.indicador.edit({'id': indicador.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(indicador)")
