form(ng-submit="submit(indicador)")
  p
    label(for="title_input") Título
    input#title_input(type="text" ng-model="indicador.description")
  p
    label(for="question_input") Pergunta
    textarea#question_input(ng-model="indicador.question")
  p
    label(for="comments_input") Sugestões/requerimentos específicos à organização (não é exibido na visualização do indicador)
    textarea#comments_input(ng-model="indicador.comments")
  p
    label(for="actions_input") Tipo
    span.radio-list.row
      span.radio-item
        input(id="type_input_discursive" type="radio" ng-model="indicador.type" name="type_input" value="discursive")
        label(for="type_input_discursive") Discursivo
      span.radio-item
        input(id="type_input_percentual" type="radio" ng-model="indicador.type" name="type_input" value="percentual")
        label(for="type_input_percentual") Percentual
      span.radio-item
        input(id="type_input_integer" type="radio" ng-model="indicador.type" name="type_input" value="integer")
        label(for="type_input_integer") Numérico
      span.radio-item
        input(id="type_input_boolean" type="radio" ng-model="indicador.type" name="type_input" value="boolean")
        label(for="type_input_boolean") Sim/Não (Verdadeiro/Falso)
  p
    label(for="eixo_input") Eixo
    select#eixo_input(ng-options="eixo.id as eixo.name for eixo in eixos" ng-model="indicador.axisId")
  p
    label(for="actions_input") Ações
    span.checkbox-list.row
      span.checkbox-item(ng-repeat="action in actions" style="width:80px;")
        input(id="actions_input_{{action.id}}" type="checkbox" ng-model="selectedActions[action.id]" ng-value="action.id")
        label(for="actions_input_{{action.id}}") {{action.id}}
  h3 Verificação inicial
  p
    label(for="baseline_input") Linha de base
    textarea#baseline_input(ng-model="indicador.baseline")
  p
    label(for="method_input") Método de verificação
    textarea#method_input(ng-model="indicador.verificationMethod")
  section#organizations
    h3 Organizações
    .organization-search.live-add
      .input-container
        input(type="text" ng-model="orgSearch" placeholder="Buscar organizações")
      table.results-table(ng-show="organizations.length")
        thead
          tr
            th Nome
            th.action Adicionar à lista
        tbody
          tr(ng-repeat="organization in organizations" ng-hide="organizationListed(organization)")
            td {{organization.name}}
            td
              a.icon.icon-add-to-list(href="javascript:void(0);" ng-click="addOrganization(organization)")
    p(ng-show="indicadorOrganizations.length")
      strong Organizações responsáveis:
    table(ng-show="indicadorOrganizations.length")
      thead
        tr
          th Nome
          th.action Remover
      tbody
        tr(ng-repeat="organization in indicadorOrganizations")
          td {{organization.name}}
          td
            a.icon.icon-cross(href="javascript:void(0);" ng-click="removeOrganization(organization)")
  p
    input(type="submit" value="Enviar")
