section#login.mastform
  h1 Login
  form(ng-submit="login(credentials)")
    p
      label(for="email") Email
      input#email(type="email" ng-model="credentials.email" placeholder="Digite seu email")
    p
      label(for="password") Senha
      input#password(type="password" ng-model="credentials.password" placeholder="Digite sua senha")
    p
      input(type="submit" value="Entrar")
    p.links
      a(ui-sref="forgotpwd") Esqueci minha senha
  div(ui-view)
.message-notification(ng-controller="MessageCtrl")
  .message-item(ng-repeat="message in messages" ng-show="message.text")
    .message-content
      a.close-button(ng-click="close(message)" href="javascript:void(0);") x
      p(ng-class="message.status" ng-bind-html="getMessage(message)")
