section#login.mastform
  h1 Login
  form(ng-submit="login(credentials)")
    p
      input(type="email" ng-model="credentials.email" placeholder="Email")
    p
      input(type="password" ng-model="credentials.password" placeholder="Senha")
    p
      input(type="submit" value="Entrar")
