section#login.mastform
  h1 Login
  form(ng-submit="login(credentials)")
    p
      input(type="email" ng-model="credentials.email" placeholder="Email")
    p
      input(type="password" ng-model="credentials.password" placeholder="Senha")
    p
      input(type="submit" value="Entrar")
.message-notification(ng-controller="MessageCtrl")
  .message-item(ng-repeat="message in messages" ng-show="message.text")
    .message-content
      a.close-button(ng-click="close(message)" href="javascript:void(0);") x
      p(ng-class="message.status" ng-bind-html="getMessage(message)")
