header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.media") Biblioteca de mídia
  //- a(ui-sref="dashboard.media.edit({id: null})") + Novo arquivo
section.dashboard-inner-content(ui-view)
  div(ng-controller="DashboardUploadCtrl")
    .dropbox(ngf-drop="uploadFiles($files)" ngf-select="uploadFiles($files)" ngf-multiple="true" ngf-drag-over-class="'dragover'" ng-model="files") Arraste arquivos aqui ou clique para selecionar
      .progress-bar(ng-show="progress.length" ng-style="{'width': getProgress() + '%' }")
        span.progress-label(ng-show="progress.length") {{getProgress()}}%
  table
    thead
      tr
        th Nome
        th URL
        //- th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="file in files")
        td {{file.name}}
        td {{getFileUrl(file)}}
        //- td 
        //-   a.icon.icon-pencil(ui-sref="dashboard.media.edit({'id': file.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(file)")
