header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.notification") Notificações
  a(ui-sref="dashboard.notification.send") + Enviar notificação
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Data de envio
        th Status
        th Assunto
        th Mensagem
    tbody
      tr(ng-repeat="task in tasks")
        td.date 
          | {{task.createdAt | fromNow}}
          span.complete {{task.createdAt | formatDate:'LLL'}}
        td --
        td {{task.subject}}
        td {{task.content}}
  section#templates
    header.dashboard-inner-header
      h3 Mensagens pré-definidas
      a(ui-sref="dashboard.notification.template({id: null})") + Nova mensagem
    table
      thead
        tr
          th Nome
          th Assunto
          th Mensagem
          th.action Editar
          th.action Remover
      tbody
        tr(ng-repeat="template in templates")
          td {{template.name}}
          td {{template.subject}}
          td {{template.text}}
          td
            a.icon.icon-pencil(ui-sref="dashboard.notification.template({id: template.id})")
          td
            a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(template)")
