form(ng-submit="submit(organization)")
  p
    label(for="name_input") Nome
    input#name_input(type="text" ng-model="organization.name")
  p
    label(for="shortname_input") Nome curto
    input#shortname_input(type="text" ng-model="organization.shortName")
  p
    label(for="website_input") Website
    input#website_input(type="text" ng-model="organization.website")
  p
    label(for="description_input") Descrição
    textarea#description_input(ng-model="organization.description")
  p
    label(for="active_input") Atividade
    span.checkbox-list.row
      span.checkbox-item
        input#active_input(type="checkbox" ng-model="organization.active")
        label(for="active_input") Ativa no monitoramento
  p
    input(type="submit" value="Enviar")
