header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.organization") Organizações
  a(ui-sref="dashboard.organization.edit({id: null})") + Nova organização
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Nome curto
        th Nome
        th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="organization in organizations")
        td {{organization.shortName}}
        td {{organization.name}}
        td 
          a.icon.icon-pencil(ui-sref="dashboard.organization.edit({'id': organization.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(organization)")
