header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.post") Posts
  a(ui-sref="dashboard.post.edit({id: null})") + Novo post
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Título
        th Eixo
        th Publicado
        th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="post in posts")
        td {{post.title}}
        td
          span.small {{post.axis.name}}
        td
          span.small {{post.createdAt | formatDate:'LLL'}}
        td 
          a.icon.icon-pencil(ui-sref="dashboard.post.edit({'id': post.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(post)")
