header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.user") Usuários
  a(ui-sref="dashboard.user.edit") + Novo usuário
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Nome
        th Email
        th Editar
        th Remover
    tbody
      tr
        td Miguel Peixe
        td miguel@teste.com.br
        td 
          a.icon.icon-pencil(ui-sref="dashboard.user.edit({'id': 1})")
        td 
          a.icon.icon-cross(href="javascript:void(0);")
