header.dashboard-inner-header
  h2
    a(ui-sref="dashboard.user") Usuários
  a(ui-sref="dashboard.user.edit({'id': null})") + Novo usuário
section.dashboard-inner-content(ui-view)
  table
    thead
      tr
        th Nome
        th Email
        th Organização
        th.action Editar
        th.action Remover
    tbody
      tr(ng-repeat="user in users")
        td {{user.name}}
        td {{user.email}}
        td {{user.organization.name}}
        td 
          a.icon.icon-pencil(ui-sref="dashboard.user.edit({'id': user.id})")
        td 
          a.icon.icon-cross(href="javascript:void(0);" ng-click="delete(user)")
