article#eixo
  header.eixo-header.row(ng-class="{'bottom-bordered': !actions.length}")
    .container
      .four.columns
        h1.eixo-bg(style="background:{{eixo.color}};")
          a(ui-sref="eixo") {{eixo.name}}
        p.meta(ng-show="indicadores.length") 
          span {{indicadores.length}} 
          | indicadores
        p.meta(ng-show="organizations.length")
          span {{organizations.length}} 
          | organizações
      .eight.columns
        .download(ng-show="organizations.length")
          p
            span.icon-download 
            | Baixar dados em PDF (em breve)
        .main-content.eixo-border(style="border-color:{{eixo.color}};" ui-view)
          .description
            p {{eixo.description}}
  .row
    .container
      div(ng-show="actions.length" ng-class="{'four columns': actions.length}")
        aside#eixo-aside
          #eixo-actions
            h2 Ações do eixo
            ul.action-list
              li(ng-repeat="action in actions")
                span.number {{action.id}}
                p {{action.description}}
      .columns(ng-class="{'four first': !actions.length, 'eight': actions.length}")
        section#indicadores
          h2 Indicadores
          ul.indicadores-list
            li(ng-repeat="indicador in indicadores")
              article.indicador
                h3 
                  a(ui-sref="indicador({indicadorId: indicador.id})") {{indicador.description}}
      .eight.columns
        section#posts(ng-show="posts.length")
          h2 Atualizações
          ul.post-list
            li(ng-repeat="post in posts")
              article.post
                h3 
                  a(ui-sref="eixo.post({postId: post.id})") {{post.title}}
                .meta
                  p.date 
                    span.icon.icon-calendar
                    | {{post.createdAt | formatDate:'LLL'}}
                .post-content(ng-bind-html="post.content | trustHtml")
                p.read-more
                  a(ui-sref="eixo.post({postId: post.id})") Continue lendo...
