article#eixo
  header.eixo-header
    .container
      .four.columns
        h1.eixo-bg(style="background:{{eixo.color}};") {{eixo.name}}
        p.meta 
          span 10 
          | indicadores
        p.meta
          span 11 
          | responsáveis
      .eight.columns
        .download
          p
            a(href="#")
              span.icon-download 
              | Baixar dados em CSV
        .description.eixo-border(style="border-color:{{eixo.color}};")
          p {{eixo.description}}
  .container.row
    .six.columns
      aside#eixo-aside
        #eixo-actions
          h2 Ações do eixo
          ul.action-list
            li 
              span.number 16
              p Disponibilizar equipes de fiscalização móvel nacionais e regionais em número suficiente para atender as denúncias e demandas do planejamento anual da inspeção. 

            li 
              span.number 17 
              p Manter à disposição do Grupo Móvel de Fiscalização adequada estrutura logística, como veículos e material de informática e de comunicação, no intuito de garantir a execução das atividades. 

            li 
              span.number 18 
              p Ampliar a fiscalização prévia, sem necessidade de denúncia, a locais com altos índices de incidência de trabalho escravo. 

            li 
              span.number 19 
              p Realizar concurso, periodicamente, para a carreira de Auditores Fiscais do Trabalho, visando ao provimento das vagas existentes, com destinação suficiente para atuação no combate ao trabalho escravo. 

            li 
              span.number 20 
              p Investir na formação /capacitação dos Auditores Fiscais do Trabalho, de Policiais Federais, Policiais Rodoviários Federais, Fiscais do Ibama, Procuradores do Trabalho e Procuradores da República.  

            li 
              span.number 21 
              p Para a execução das atividades de Polícia Judiciária pela Polícia Federal no combate ao trabalho escravo, disponibilizar permanentemente, em cada equipe de fiscalização, um Delegado e os agentes necessários. 

            li 
              span.number 22 
              p Garantir recursos orçamentários para custeio de diárias e locomoção dos Delegados, Agentes Policiais Federais e Policiais Rodoviários Federais e seus respectivos assistentes, de forma a viabilizar a participação do MJ (DPF e DPRF) nas diligências de inspeção de trabalho escravo. 

            li 
              span.number 23 
              p Propor projeto de emenda constitucional para fortalecer a integração entre as ações da Polícia Federal e Polícia Rodoviária Federal como instituições capacitadas a levantar indícios de trabalho escravo para instruir ações penais, trabalhistas e civis, respeitando as competências estabelecidas em lei.

            li 
              span.number 24 
              p Ampliar junto à Polícia Rodoviária Federal e MD programas de fiscalização nos eixos de transporte irregular e de aliciamento de trabalhadores, exigindo a regularização da situação dos veículos e encaminhando os trabalhadores ao Ministério do Trabalho e Emprego para regularizar as condições de contratação do trabalho. 

            li 
              span.number 25 
              p Realizar concursos públicos para a Polícia Federal e Polícia Rodoviária Federal, para os cargos de agente e Delegado, destinando vagas em número suficiente para as ações do Grupo Móvel de Fiscalização.

            li 
              span.number 26 
              p Fortalecer as estruturas física e de pessoal do Ministério Público do Trabalho e do Ministério Público Federal visando ao combate ao trabalho escravo e ao aliciamento de trabalhadores. Buscar o encaminhamento e aprovação dos Projetos de Lei que cria cargos de procuradores e servidores para as instituições. 

            li 
              span.number 27 
              p Garantir recursos orçamentários e financeiros para custeio de diárias e locomoção dos Procuradores do Trabalho e dos Procuradores da República e seus respectivos assistentes, de forma a viabilizar a participação do Ministério Público do Trabalho e do Ministério Público Federal em todas as diligências de inspeção de trabalho escravo, no intuito de imprimir agilidade aos procedimentos destinados à adoção das medidas administrativas e judiciais cabíveis.  

            li 
              span.number 28 
              p Efetivar a interiorização do Ministério Público do Trabalho, do Ministério Público Federal, da Justiça do Trabalho, da Polícia Federal e da Polícia Rodoviária Federal. Buscar a criação de cargos de procuradores, juízes, policiais e servidores, com encaminhamento ao Congresso Nacional dos respectivos projetos. 

            li 
              span.number 29 
              p Buscar a aprovação de mudança no artigo 149 do Código Penal, elevando a pena mínima de 2 para 4 anos para o crime de sujeitar alguém a trabalho análogo ao de escravo. 

            li 
              span.number 30 
              p Desenvolver uma ação para suprimir a intermediação ilegal de mão-de-obra principalmente a ação de contratadores (“gatos”) e de empresas prestadoras de serviços que desempenham a mesma função, como prevenção ao trabalho escravo. 

            li 
              span.number 31 
              p Acompanhar os processos que versam sobre a utilização de trabalho escravo, que se encontram tramitando no Poder Judiciário, atuando no sentido de sensibilizar juízes, desembargadores e ministros para o problema. Anamatra, Ajufe, ANPT, ANPF, MPT e MPF
    .six.columns
      section#indicadores
        h2 Indicadores
        ul.indicadores-list
          li
          article.indicador(ng-repeat="indicador in indicadores")
            h3 
              a(ui-sref="indicador({indicadorId: indicador.id})") {{indicador.description}}
