#hello
  section#intro.anti-row.row
    .container
      .nine.columns
        h2 O que é o Plano Nacional para a Erradicação do Trabalho Escravo?
    .intro-image.row
    .container
      .eight.columns
        p O II Plano Nacional para a Erradicação do Trabalho Escravo (II PNETE) é um compromisso público aprovado em 2008 pela Comissão Nacional para a Erradicação do Trabalho Escravo (Conatrae) com 66 ações necessárias para eliminar essa prática degradante do nosso país. Leia o documento na íntegra 
          a(href="http://portal.mte.gov.br/data/files/8A7C816A39E4F614013AD5A314335F16/novoplanonacional.pdf") aqui
          | .
        p O I PNETE foi lançado em 2003, antes da criação da Conatrae. Ele foi resultado do trabalho de comissão especial do Conselho de Defesa dos Direitos da Pessoa Humana (CDDPH). Das 76 ações previstas nesse primeiro plano, 68,4% foram total ou parcialmente atingidas, segundo avaliação feita em 2004 pela Organização Internacional do Trabalho (OIT).
        p O I PNETE produziu avanços significativos na área de sensibilização e capacitação de atores para o enfrentamento ao trabalho escravo, na conscientização de trabalhadores pelos seus direitos e na estruturação do sistema de fiscalização. Com o II PNETE, a expectativa é reforçar linhas de ação que ficaram vulneráveis na execução do plano anterior, especialmente a prevenção do trabalho escravo, a reinserção dos trabalhadores e a repressão econômica a essa prática criminosa.
      .four.columns
        section#sections.row
          h2 Conheça os eixos do monitoramento II PNETE
          ul.eixo-list
            li.eixo-bg(ng-repeat="eixo in eixos" style="background-color:{{eixo.color}};")
              .eixo-item-content
                h3
                  a(ui-sref="eixo({eixoId: eixo.id})") {{eixo.name}}
  .container
    .row
      .six.columns
        section#why.tip-box.row
          h2 Como e por que foi criada essa plataforma?
          p O Brasil tornou-se uma referência internacional no enfrentamento ao trabalho escravo, fato registrado no relatório “Uma Aliança Global contra o Trabalho Forçado”, divulgado em 2005 pela Organização Internacional do Trabalho (OIT). Mas ainda há um longo caminho a ser percorrido tanto pelos governos quanto pela sociedade civil para que se consiga de fato acabar com a escravidão contemporânea no país.
          p O monitoramento regular do II Plano Nacional para a Erradicação do Trabalho Escravo (II PNETE) é passo fundamental nessa jornada. Por isto a ONG Repórter Brasil desenvolveu esta plataforma em parceria com a OIT e com colaboração ativa de outros membros da Comissão Nacional para a Erradicação do Trabalho Escravo (Conatrae).
          p Após o monitoramento piloto, a ser realizado entre 2015 e 2016, a Secretaria de Direitos Humanos (SDH) assumirá a gestão do sistema, como parte das atribuições da secretaria-executiva da Conatrae.
          p Nosso ponto de partida para se construir os indicadores  aqui presentes foram os resultados dos dois monitoramentos anteriores do II PNETE realizados em 2010 e em 2012, respectivamente, pelas consultoras Andréa Bolzon e Mariana Castilho.
      .six.columns
        section#how.tip-box.row
          h2 Como é realizado o monitoramento?
          p A Comissão Nacional para a Erradicação do Trabalho Escravo (Conatrae) desenvolveu indicadores para o monitoramento do II Plano Nacional para a Erradicação do Trabalho Escravo (II PNETE). Eles dão conta, de forma agrupada, das ações de cada um dos cinco eixos do Plano. Foi criado ainda um sexto eixo, de monitoramento legislativo, relativo às ações de advocacy e acompanhamento de projetos no Congresso Nacional.
          p Cada indicador foi traduzido em perguntas, que anualmente são enviadas para as organizações responsáveis. Elas foram convidadas previamente a contribuir com o monitoramento e indicaram um representante para alimentar o sistema.
          p Os membros da Conatrae devem se reunir e avaliar as informações recebidas, produzindo análises sobre os avanços e obstáculos que marcaram aquele período. A ideia é que essas informações sirvam de subsídio para uma ação cada vez mais integrada e estratégica das organizações que compõem a Comissão e suas parceiras.
          p Os dados de todas etapas do monitoramento são públicos e estão acessíveis aqui na plataforma. Assim, ela pode contribuir também para que mais gente conheça o II PNETE e se engaje na luta pela erradicação do trabalho escravo no Brasil.
