article#indicador
  header.indicador-header
    .container
      .twelve.columns
        h1 {{indicador.description}}
  
  section#question
    .container
      .two.columns
        a.eixo-icon.eixo-bg(ui-sref="eixo({eixoId: eixo.id})" style="background:{{eixo.color}};") {{eixo.name}}
        a.button(href="#") Veja as ações relacionadas
      .ten.columns
        .clearfix
          .nine.columns
            h2 {{indicador.question}}
        #overview.clearfix(ng-show="analise")
          .nine.columns
            p.label Análise do gestor:
            p {{analise.analysis}}
          .two.columns.offset-by-one
            #status
              .icon(class="icon-{{getStatusClass(analise)}}")
              p {{getStatus(analise)}}
        #baseline.clearfix
          .subheader.baseline-header
            h3 Conheça o histórico de dados disponíveis
          .baseline-content
            p {{indicador.baseline}}
        #replies.clearfix
          .subheader.replies-header
            .filters(ng-hide="ciclos.length == 1")
              span.main-label Visualizando ciclo: 
              .filter.dropdown.period
                span.current {{ciclo.name}} 
                span.icon.icon-chevron-down
                ul
                  li(ng-repeat="ciclo in ciclos" ui-sref-active="active") 
                    a(ui-sref="indicador({'ciclo': ciclo.name})") {{ciclo.name}}
            h3 Respostas das organizações responsáveis
          ul.reply-list
            li.reply.clearfix(ng-repeat="organization in organizations" ng-class="{'no-response': !organization.feedbacks.length}")
              .five.columns
                .avatar-container
                  .avatar(style="background-color:{{pastelColor(organization.id)}}")
                    a(ui-sref="organization({organizationId: organization.id})") {{organization.shortName}}
                h4
                  a(ui-sref="organization({organizationId: organization.id})") {{organization.name}}
                p.reply(ng-show="organization.feedbacks.length") Respondido {{organization.feedbacks[0].createdAt | fromNow}} ({{organization.feedbacks[0].createdAt | formatDate:'DD/MM/YYYY'}})
                p.reply.not(ng-hide="organization.feedbacks.length") ...
              .seven.columns
                .response(ng-show="organization.feedbacks.length")
                  p.value(ng-show="organization.feedbacks[0].value.value") {{organization.feedbacks[0].value.value}}
                  p.percentage(ng-show="organization.feedbacks[0].value.percentage") {{organization.feedbacks[0].value.percentage}}%
                  p {{organization.feedbacks[0].value.comments}}
