article#indicador
  header.indicador-header
    .container
      .twelve.columns
        h1 {{indicador.description}}
  
  section#question
    .container
      .two.columns
        a.eixo-icon.eixo-bg(ui-sref="eixo({eixoId: eixo.id})" style="background:{{eixo.color}};") {{eixo.name}}
        a.button(href="#") Veja as ações relacionadas
      .ten.columns
        .nine.columns
          h2 {{indicador.question}}
        #overview.clearfix
          .nine.columns
            p.label Análise do gestor:
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus neque, laoreet interdum blandit quis, scelerisque nec erat. Vestibulum urna tortor, tincidunt quis diam in, dapibus varius metus. In neque dui, accumsan non purus et, dapibus porttitor erat. Donec dictum sollicitudin viverra. Curabitur vitae felis eget leo convallis malesuada. Integer quis ipsum luctus, vestibulum justo ut, ultricies orci. Aliquam scelerisque metus sit amet mattis aliquam. Sed tincidunt, purus vitae pulvinar volutpat, leo nisi lacinia neque, quis cursus sem enim eget arcu. Mauris efficitur eu augue nec efficitur. Nulla at ultricies mauris, a dictum erat.
          .two.columns.offset-by-one
            #status
              .icon.icon-check
              p Cumprido
        #baseline
          .subheader.baseline-header
            h3 Conheça o histórico de dados disponíveis
          .baseline-content
            p {{indicador.baseline}}
        .replies
          .subheader.replies-header
            .filters
              span.main-label Visualizando: 
              .filter.dropdown.period
                //- span.label Período
                span.current 2014 
                span.icon.icon-chevron-down
                ul
                  li 2011
                  li 2012
                  li 2013
            h3 Responsáveis e suas respostas
          ul.reply-list
            li.reply.clearfix(ng-repeat="response in indicador.responses" ng-class="{'no-response': !response.response}")
              .five.columns
                .avatar-container
                  .avatar(style="background-color:{{pastelColor()}}") 
                    a(ui-sref="rep({repId: 1})"){{response.slug}}
                h4 
                  a(ui-sref="rep({repId: 1})") {{response.responsible}}
                p.reply {{response.means}}
              .seven.columns
                .response
                  p {{response.response}}
            li.reply.no-response.clearfix
              .five.columns
                .avatar-container
                  .avatar(style="background-color:{{pastelColor()}}") MTE DETRAE
                h4 Ministério do Trabalho e Emprego (DETRAE)
                p.reply.not Não respondeu
              .seven.columns
                .response
                  p Solicitação enviada 
                    span.since {{since}}, 
                    span.date {{date}}
            li.reply.clearfix
              .five.columns
                .avatar-container
                  .avatar(style="background-color:{{pastelColor()}}") MTE DETRAE
                h4 Ministério do Trabalho e Emprego (DETRAE)
                p.reply Respondeu {{since}} 
                  br
                  span.date ({{date_}})
              .seven.columns
                .response
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum felis purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis vitae ligula quis lobortis. Nunc hendrerit fermentum malesuada. Quisque lobortis fringilla lectus et viverra. Praesent dignissim, sapien et mattis aliquam, odio lorem gravida orci, at pellentesque erat nulla sed lorem. Nunc tempus cursus tellus sit amet cursus. Maecenas interdum eros at diam faucibus egestas. Nam ac finibus mi, id rhoncus felis. Vivamus quis ultrices magna. Vivamus blandit mi vitae neque pulvinar, sed suscipit eros bibendum.
                    
            li.reply.no-response.clearfix
              .five.columns
                .avatar-container
                  .avatar(style="background-color:{{pastelColor()}}") MTE DETRAE
                h4 Ministério do Trabalho e Emprego (DETRAE)
                p.reply.not Não respondeu
              .seven.columns
                .response
                  p Solicitação não enviada
