article#indicador
  header.indicador-header
    .container
      .twelve.columns
        h1 {{indicador.description}}
  
  section#question
    .container
      .two.columns
        a.eixo-icon.eixo-bg(ui-sref="eixo({eixoId: eixo.id})" style="background:{{eixo.color}};") {{eixo.name}}
        a.button(href="#") Veja as ações relacionadas
      .ten.columns
        .clearfix
          .nine.columns
            h2 {{indicador.question}}
        #overview.clearfix(ng-show="analise")
          .nine.columns
            p.label Análise do gestor:
            p {{analise.analysis}}
          .two.columns.offset-by-one
            #status
              .icon(class="icon-{{getStatusClass(analise)}}")
              p {{getStatus(analise)}}
        #baseline.clearfix
          .subheader.baseline-header
            h3 Conheça o histórico de dados disponíveis
          .baseline-content
            p {{indicador.baseline}}
        #replies.clearfix
          .subheader.replies-header
            .filters
              span.main-label Visualizando: 
              .filter.dropdown.period
                //- span.label Período
                span.current 2014 
                span.icon.icon-chevron-down
                ul
                  li 2011
                  li 2012
                  li 2013
            h3 Respostas das organizações responsáveis
          ul.reply-list
            li.reply.no-response.clearfix(ng-repeat="organization in organizations")
              .five.columns
                .avatar-container
                  .avatar(style="background-color:{{pastelColr()}}")
                    a(ui-sref="organization({organizationId: organization.id})") {{organization.shortName}}
                h4
                  a(ui-sref="organization({organizationId: organization.id})") {{organization.name}}
                p.reply Em desenvolvimento
              .seven.columns
                .response
                  p Em desenvolvimento
