article#organization
  header.organization-header.row
    .container.row
      .seven.columns
        p.tagline Perfil da organização
        h1 {{organization.name}}
      .five.columns
        .enrollment
          p.active(ng-show="enrollment.active")
            span.icon.icon-check
            | Organização confirmou participação neste ciclo
          p.not-active(ng-hide="enrollment.active")
            span.icon.icon-cross
            | Organização optou por não participar deste ciclo
          //- p.not-confirmed(ng-show="!enrollment.confirmed")
          //-   span.icon.icon-cross
          //-   | Organização ainda não confirmou participação neste ciclo
  section.organization-content
    .container
      .twelve.columns
        #organization-status.row
          replied-percent(ratio="status")
      .twelve.columns
        #organization-indicadores
          h2 Indicadores e suas respostas
          ul.indicador-list
            li.indicador-item.clearfix(ng-repeat="indicador in indicadores")
              .five.columns
                .indicador-meta
                  .axis-info
                    a.eixo-bg(ui-sref="eixo({eixoId: indicador.axisId})" style="background-color: {{indicador.axis.color}};" title="{{indicador.axis.name}}") {{indicador.axisId}}
                  .indicador-info
                    h3
                      a(ui-sref="indicador({indicadorId: indicador.id})") {{indicador.description}}
                    p.reply(ng-show="indicador.feedbacks.length") Respondido {{indicador.feedbacks[0].createdAt | fromNow}} ({{indicador.feedbacks[0].createdAt | formatDate:'DD/MM/YYYY'}})
                    p.reply.not(ng-hide="indicador.feedbacks.length") 
                      //- span(ng-hide="enrollment.confirmed") Organização ainda não confirmou participação no monitoramento deste ciclo
                      //- span(ng-show="enrollment.confirmed")
                      span(ng-hide="enrollment.active") Organização optou por não participar deste ciclo
                      span(ng-show="enrollment.active") Ainda não obtivemos resposta
              .seven.columns
                .feedback(ng-show="indicador.feedbacks.length")
                  p.bool(ng-show="indicador.type == 'boolean'") {{indicador.feedbacks[0].value.bool ? 'Sim' : 'Não'}}
                  p.value(ng-show="indicador.feedbacks[0].value.value") {{indicador.feedbacks[0].value.value}}
                  p.percentage(ng-show="indicador.feedbacks[0].value.percentage") {{indicador.feedbacks[0].value.percentage}}%
                  p(ng-bind-html="indicador.feedbacks[0].value.comments | parseUrl")
                .feedback.no-response(ng-hide="indicador.feedbacks.length")
                  p(ng-show="enrollment.active") Ainda não obtivemos resposta
                  p(ng-hide="enrollment.active") Organização optou por não participar deste ciclo
                  //- p(ng-show="!enrollment.confirmed") Organização ainda não confirmou participação no monitoramento deste ciclo
