article#post 
  header.post-header
    h2 Atualização
    h3 {{post.title}}
    .meta
      p.date 
        span.icon.icon-calendar
        | {{post.createdAt | formatDate:'LLL'}}
  section.post-content(ng-bind-html="post.content | trustHtml")
