#status
  .container 
    .nine.columns
      h1 Status do monitoramento em curso
  .container
    .twelve.columns
      .row
        replied-percent(ratio="status")
  .container
    .eight.columns
      #orgs
        .subheader.row
          h2 Acompanhe o andamento das respostas de cada organização participante do monitoramento
          .filters 
            span.main-label Ordenar por:
            .filter.dropdown.order
              span.current {{activeSort.label}} 
              span.icon.icon-chevron-down
              ul
                li(ng-repeat="sort in orgSorts" ng-hide="sort.label == activeSort.label" ng-click="setSort(sort)") {{sort.label}}
        ul.status-list.org-list
          li(ng-repeat="org in organizations | orderBy:activeSort.key")
            h3 
              a(ui-sref="organization({organizationId: org.id})") {{org.name}}
            replied-percent(ratio="org.status" label="label")
    .four.columns
      #eixos
        .subheader.row
          h2 Acompanhe o andamento das respostas por cada eixo de ação
        ul.status-list.eixo-list
          li.eixo-bg(ng-repeat="eixo in eixos" style="background-color: {{eixo.color}};")
            h3
              a(ui-sref="eixo({eixoId: eixo.id})") {{eixo.name}}
            replied-percent(ratio="eixo.status" label="label" ng-hide="eixo.blog")
            replied-percent(label="'Não se aplica'" ng-show="eixo.blog")
