#page
  .container
    .nine.columns
      h2 Sobre a Conatrae
  .container
    .six.columns
      p A Comissão Nacional para a Erradicação do Trabalho Escravo (Conatrae) foi criada em 2003 por meio de decreto presidencial. Sua criação era uma das 76 ações previstas no I Plano Nacional para a Erradicação do Trabalho Escravo (I PNETE), também de 2003. 

      p Foi a Conatrae que elaborou o II PNETE, aprovado em 2008. Ela representa uma esfera oficial de acompanhamento, monitoramento e coordenação das 66 ações previstas no Plano. 

      p A Comissão é composta por representantes governamentais, de organizações da sociedade civil e observadores. Atualmente, as instituições governamentais que participam a partir do decreto presidencial são: Ministério do Trabalho e Emprego; Ministério do Desenvolvimento Agrário; Ministério da Previdência Social; Ministério da Agricultura, Pecuária e Abastecimento; Departamento de Polícia Federal e Departamento de Polícia Rodoviária Federal (Ministério da Justiça); Secretaria Especial dos Direitos Humanos; Ministério do Meio Ambiente; e Ministério da Defesa. Já as organizações da sociedade civil cuja participação está referendada pelo decreto de 2003 são: Associação dos Juízes Federais do Brasil, Associação Nacional dos Magistrados da Justiça do Trabalho, Associação Nacional dos Procuradores da República, Associação Nacional dos Procuradores do Trabalho, Confederação da Agricultura e Pecuária do Brasil, Confederação Nacional dos Trabalhadores na Agricultura, Ordem dos Advogados do Brasil, Repórter Brasil e Sindicato Nacional dos Auditores Fiscais do Trabalho.  Por fim, os observadores oficiais são: Advocacia-Geral da União, Associação Nacional dos Defensores Públicos, Comissão Pastoral da Terra, Grupo de Pesquisa Trabalho Escravo Contemporâneo/UFRJ, Catholic Relief Services, Instituto Ethos, Organização Internacional do Trabalho, Procuradoria Geral da República e Procuradoria Geral do Trabalho.
