#page
  .container
    .nine.columns
      h1 Baixe os dados brutos
  .container
    .eight.columns
      p Você pode baixar os dados relativos ao monitoramento anual do II Plano Nacional para a Erradicação do Trabalho Escravo (II PNETE) também em formato PDF e CSV.
      
      p A ideia é facilitar a divulgação e compartilhamento desses resultados, assim como a utilização e o tratamento com outras ferramentas de análise e visualização de dados.
      
      p.cell-buttons
        span.button
          span.icon-download 
          | Baixar em PDF
        span.button
          span.icon-download 
          | Baixar em CSV
