#page
  .container
    .nine.columns
      h2 O que é o trabalho escravo contemporâneo?
  .container
    .six.columns
      p A Lei Áurea, assinada em 13 de maio de 1888, decretou o fim do direito de propriedade de uma pessoa sobre outra no Brasil. Apesar disso, atualmente o trabalho escravo se mantém de outras maneiras: o trabalhador não consegue se desligar do patrão, por fraude (como dívidas ilegais) ou uso de violência física; ele é submetido a condições degradantes (de alojamento ou alimentação, por exemplo) ou, ainda, é obrigado a trabalhar tanto e por tantas horas que seu corpo não aguenta.
      
      p Conforme definido no Artigo 149 do Código Penal Brasileiro, situações de trabalho consideradas análogas à escravidão são aquelas onde trabalhadores são sujeitos à condições degradantes de trabalho, jornadas exaustivas, trabalho forçado, ou ao cerceamento da liberdade, seja em razão de dívida, isolamento geográfico, retenção dos documentos ou coerção por meio de ameaças e punições em casos de fuga. Cabe notar que, geralmente, tais fatores ocorrem de forma acumulativa, interligada ou sobreposta.
      
      p Em 1995, o Estado brasileiro reconheceu a existência de trabalho escravo contemporâneo em nosso território. Desde então e até 2013, mais de 47 mil trabalhadores e trabalhadoras escravizados já foram libertados no país.
      
      p Estimativa realizada pela Organização Internacional do Trabalho (OIT) indica que 20,9 milhões de pessoas no mundo sofrem com o trabalho forçado, sendo 1,8 milhões na América Latina (Relatório Global da OIT, 2012).
      
      p Você pode conhecer mais sobre o trabalho escravo contemporâneo, suas causas, consequências e estratégias para enfrentá-lo acessando 
        a(href="http://escravonempensar.org.br/livro/" rel="external" target="_blank") aqui
        = " o livro digital do programa “Escravo, nem pensar!”, da ONG Repórter Brasil."
