header#masthead.row
  .container
    .two.columns
      a(ui-sref="home")
        img(src="/img/logo2.png")
    .five.columns
      h1 
        a(ui-sref="home") Monitor
    .five.columns
      p Plano Nacional de Erradicação do Trabalho Escravo
