header#masthead.row
  .container
    .two.columns
      a(ui-sref="home")
        img(src="/img/logo2.png")
    .ten.columns
      h1 
        a(ui-sref="home") Plataforma de Monitoramento
      p Plano Nacional de Erradicação do Trabalho Escravo
  nav#mastnav
    .container
      .twelve.columns
        ul
          li 
            a(ui-sref="trabalho-escravo") Trabalho escravo
          li
            a(ui-sref="conatrae") Sobre a conatrae
          li 
            a(ui-sref="status") Status do atual monitoramento
          li 
            a(ui-sref="dados") Dados brutos            
          li 
            a(ui-sref="relatorios") Relatórios anuais
