header#masthead.row
  .container
    .two.columns
      img(src="/img/logo2.png")
    .four.columns
      h1 
        a(ui-sref="home") Monitor
          span Plano Nacional de Erradicação do Trabalho Escravo
