#hello
  .container
    .six.columns
      section#faq
        h2 O que é o Plano Nacional de Erradicação do Trabalho Escravo (PNETE)?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor nunc a sollicitudin blandit. Proin odio ante, cursus eget consequat vitae, mollis quis purus. Duis convallis ex sapien, sed vulputate massa ultricies quis. Etiam non ex ex. Mauris felis lorem, sollicitudin ultrices nisi id, dictum mattis nisi. Vivamus sapien augue, mattis sit amet ornare quis, pretium non mi. Maecenas vel tempor mauris, vel fermentum purus. Praesent pulvinar elit vehicula tellus finibus, et euismod lacus dapibus. Ut sodales urna augue, ac ornare ipsum aliquam ut. Pellentesque cursus turpis risus, at consequat ex sodales vel. 

        h2 Como é realizado o monitoramento?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor nunc a sollicitudin blandit. Proin odio ante, cursus eget consequat vitae, mollis quis purus. Duis convallis ex sapien, sed vulputate massa ultricies quis. Etiam non ex ex. Mauris felis lorem, sollicitudin ultrices nisi id, dictum mattis nisi. Vivamus sapien augue, mattis sit amet ornare quis, pretium non mi. Maecenas vel tempor mauris, vel fermentum purus. Praesent pulvinar elit vehicula tellus finibus, et euismod lacus dapibus. Ut sodales urna augue, ac ornare ipsum aliquam ut. Pellentesque cursus turpis risus, at consequat ex sodales vel. 
    .six.columns
      section#sections
        ul
          li 
            h3 
              a(ui-sref="eixo({eixoId: 1})") Enfrentamento e repressão
            p 32 indicadores, totalizando 23 responsáveis.
          li 
            h3
              a(ui-sref="eixo({eixoId: 1})") Reinserção e prevenção
            p 32 indicadores, totalizando 23 responsáveis.
          li 
            h3 
              a(ui-sref="eixo({eixoId: 1})") Informação e capacitação
            p 32 indicadores, totalizando 23 responsáveis.
          li 
            h3 
              a(ui-sref="eixo({eixoId: 1})") Repressão econômica
            p 32 indicadores, totalizando 23 responsáveis.
          li 
            h3 
              a(ui-sref="eixo({eixoId: 1})") Ações gerais
            p 32 indicadores, totalizando 23 responsáveis.
