#status
  .container 
    .nine.columns
      h1 Status do monitoramento em curso
  .container
    .twelve.columns
      .row
        replied-percent(ratio="ratio")
  .container
    .eight.columns
      #orgs
        .subheader.row
          h2 Acompanhe o andamento das respostas de cada organização participante do monitoramento
          .filters 
            span.main-label Ordenar por:
            .filter.dropdown.order
              span.current Nome 
              span.icon.icon-chevron-down
              ul
                li Porcentagem
                li Nº de Indicadores
                li Nº de Respostas
        ul.status-list.org-list
          li(ng-repeat="org in orgs")
            h3 {{org.title}}
            replied-percent(ratio="org.ratio" label="label")
          li(ng-repeat="org in orgs")
            h3 {{org.title}}
            replied-percent(ratio="org.ratio" label="label")
          li(ng-repeat="org in orgs")
            h3 {{org.title}}
            replied-percent(ratio="org.ratio" label="label")
          li(ng-repeat="org in orgs")
            h3 {{org.title}}
            replied-percent(ratio="org.ratio" label="label")
    .four.columns
      #eixos
        .subheader.row
          h2 Acompanhe o andamento das respostas por cada eixo de ação
        ul.status-list.eixo-list
          li.eixo-bg.blue
            h3 Enfrentamento e repressão
            replied-percent(ratio="ratio" label="label")
          li.eixo-bg.green
            h3 Reinserção e prevenção
            replied-percent(ratio="ratio" label="label")
          li.eixo-bg.red
            h3 Informação e capacitação
            replied-percent(ratio="ratio" label="label")
          li.eixo-bg.purple
            h3 Repressão econômica
            replied-percent(ratio="ratio" label="label")
          li.eixo-bg.orange
            h3 Ações gerais
            replied-percent(ratio="ratio" label="label")
          li.eixo-bg.yellow
            h3 Monitoramento legislativo
            replied-percent(label="'Não se aplica'")
