header
  h1 Relatório do eixo {{eixo.name}}
  p {{indicadores.length}} indicadores e {{organizations.length}} organizações
  p {{eixo.description}}
  
hr
  
section#actions(ng-show="actions.length")
  h2 Ações do eixo
  ol.action-list
    li(ng-repeat="action in actions") {{action.description}}

  hr

section#posts(ng-show="posts.length")
  h2 Atualizações
  article.post(ng-repeat="post in posts")
    h3 
      a(ui-sref="eixo.post({postId: post.id})") {{post.title}}
    .meta
      p.date 
        span.icon.icon-calendar 
        | {{post.createdAt | formatDate:'LLL'}}
    .post-content(ta-bind="text" ng-model="post.content")
  hr


section#indicadores
  h2 Indicadores
  .indicador(ng-repeat="indicador in resolved.indicadores")
    h3 {{indicador.Indicador.description}}
    
    h4 Pergunta
    p {{indicador.Indicador.question}}
        
    .indicador-actions(ng-show="indicador.Actions.length")
      h4 Ações relacionadas
      ul.action-list
        li(ng-repeat="action in indicador.Actions") {{action.description}}

    .assessment(ng-show="indicador.Analise")
      h4 Análise do gestor
      p.bold {{getStatus(indicador.Analise)}}
      p {{indicador.Analise.analysis}}

    .indicador-baseline(ng-show="indicador.baseline")
      h4 Linha de base
      .baseline-content(ng-bind-html="indicador.baseline | autop | parseUrl | trustHtml")
      
    .replies.clearfix(ng-show="indicador.Organizations.length")
      h4 Respostas das organizações responsáveis
      .reply.clearfix(ng-repeat="organization in indicador.Organizations" ng-class="{'no-response': !organization.feedbacks.length}" ng-show="organization.enrollments.length")
        p.organization {{organization.name}}
        p.reply(ng-show="organization.feedbacks.length") Respondido em {{organization.feedbacks[0].createdAt | formatDate:'DD/MM/YYYY'}}
        .response(ng-show="organization.feedbacks.length")
          p.bool(ng-show="indicador.type == 'boolean'") {{organization.feedbacks[0].value.bool ? 'Sim' : 'Não'}}
          p.value(ng-show="organization.feedbacks[0].value.value") {{organization.feedbacks[0].value.value}}
          p.percentage(ng-show="organization.feedbacks[0].value.percentage") {{organization.feedbacks[0].value.percentage}}%
          p(ng-bind-html="organization.feedbacks[0].value.comments | autop | parseUrl | trustHtml")
        .response(ng-show="!organization.feedbacks.length")
          p(ng-hide="organization.enrollments[0].active") Organização optou por não participar deste ciclo
          p(ng-show="organization.enrollments[0].active") Ainda não obtivemos resposta
    hr
