@import '../colors';

.eixo-bg {
  &.blue {
    background: @blue;
  }
  &.orange {
    background: @orange;
  }
  &.green {
    background: @green;
  }
  &.red {
    background: @red;
  }
  &.purple {
    background: @purple;
  }
  &.pink {
    background: @pink;
  }
}

.eixo-border {
  &.blue {
    border-color: @blue;
  }
  &.orange {
    border-color: @orange;
  }
  &.green {
    border-color: @green;
  }
  &.red {
    border-color: @red;
  }
  &.purple {
    border-color: @purple;
  }
  &.pink {
    border-color: @pink;
  }
}

article#eixo {
  .eixo-header {
    h1 {
      padding: 20px;
      .border-radius(4px);
      text-align: center;
      font-family: "Playfair Display";
      color: #fff;
      font-size: 32px;
      line-height: 100%;
      margin: 0 0 40px;
    }
    p.meta {
      margin: 0 0 10px;
      font-style: italic;
      color: #999;
      text-align: center;
      font-size: 22px;
      span {
        font-weight: 600;
      }
    }
    p.description {
      font-family: "Playfair Display";
      font-size: 22px;
      margin-top: 60px;
      padding-top: 20px;
      border-top-width: 2px;
      border-top-style: solid;
      padding-left: 60px;
      margin-left: -60px;
    }
  }
  #eixo-actions {
    h2 {
      font-size: 18px;
      color: #999;
      margin: 0 0 10px;
    }
  }
  #indicadores {
    h2 {
      font-size: 18px;
      color: #999;
      margin: 0 0 10px;
    }
    .indicadores-list {
      border: 1px solid #ddd;
      .border-radius(4px);
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
      }
    }
    article {
      margin: 0;
      padding: 20px;
      border-bottom: 1px solid #ddd;
      h3 {
        margin: 0;
        font-size: 22px;
        a {
          text-decoration: none;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
