@import '../colors';

article#indicador {
  h1 {
    color: #666;
    font-size: 27px;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  h2 {
    color: #333;
    font-size: 32px;
    // font-style: italic;
  }
  .eixo-icon {
    text-decoration: none;
    display: block;
    padding: 15px 5px;
    .border-radius(4px);
    text-align: center;
    font-family: "Playfair Display";
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    margin: 0 0 40px;
  }
  #overview {
    p {
      font-size: 20px;
    }
    .label {
      font-style: italic;
      color: #999;
      margin: 0 0 5px;
    }
  }
  #status {
    .icon {
      display: block;
      width: 100%;
      height: 0;
      text-align: center;
      font-size: 4vw;
      padding-top: 30%;
      padding-bottom: 70%;
      .border-radius(100%);
      color: #fff;
      margin-bottom: 20px;
      background: green;
      &.yellow {
        background: darken(yellow, 5%);
      }
      &.red {
        background: red;
      }
    }
    p {
      font-style: italic;
      color: #999;
      text-align: center;
      font-size: 16px;
    }
  }
  #baseline {
    p {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  #replies {
    .subheader {
      margin-bottom: 40px;
    }
    ul.reply-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .reply {
        margin: 0 0 20px;
        padding: 0;
        &.no-response {
          .response {
            color: #999;
            p {
              margin: 0;
            }
            .since {
              font-weight: 600;
            }
            .date {
              text-transform: lowercase;
              display: block;
            }
          }
        }
        .avatar-container {
          float: left;
          margin-right: 25px;
          margin-bottom: 40px;
        }
        .avatar {
          width: 55px;
          height: 55px;
          background: #333;
          .border-radius(100%);
          color: #fff;
          text-align: center;
          line-height: 11px;
          font-size: 11px;
          display: table-cell;
          vertical-align: middle;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
        h4 {
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          color: #666;
          a {
            text-decoration: none;
          }
        }
        .reply {
          font-style: italic;
          color: green;
          font-size: 12px;
          &.not {
            color: red;
          }
        }
        .response {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
