header#masthead.row(ng-class="{shrink: !isHome}")
  .container
    .twelve.columns
      .logo-container
        a(ui-sref="home")
          img(src="/img/logo2_.png")
      h1 
        a(ui-sref="home") Plataforma de Monitoramento
      p Plano Nacional para a Erradicação do Trabalho Escravo
      a.nav-toggler(href="javascript:void(0);" ng-click="toggleNav()"  scrolled-class s-class="'scrolled'" offset="100")
        span.icon-menu
  nav#mastnav(ng-class="{active: nav}")
    ol
      li 
        a(ui-sref="trabalho-escravo") Trabalho escravo contemporâneo
      li
        a(ui-sref="conatrae") Sobre a Conatrae
      li 
        a(ui-sref="status") Status do monitoramento em curso
      li 
        a(ui-sref="dados") Baixe os dados brutos
      li 
        a(ui-sref="relatorios") Baixe os relatórios anuais
      li
        a(ui-sref="dashboard") Painel de Controle
  section#status(ng-show="isHome")
    .container
      .twelve.columns
        h2 Status do monitoramento em curso
          a(ui-sref="status") Veja o status completo
        replied-percent(ratio="status")
