@import "functions";

@import (inline) "normalize.css";
@import (inline) "skeleton.css";
@import (inline) "icons.css";

@import (inline) "ngdialog.css";

/*
* Customizing Skeleton grid system
*/

.container {
  max-width: 1280px;
  // margin: 0 10%;
}

/*
* General
*/

body,
html,
input,
textarea,
select,
select option {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.row {
  margin-bottom: 40px;
}

button,
.button,
a.button,
input[type="submit"] {
  max-width: 100%;
  white-space: normal;
  height: auto;
  line-height: 200%;
  padding: 10px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

/*
* Main CSS
*/

body {
  background-color: #fff;
  // background-image: url('../img/bg_1.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 30%;
  background-attachment:fixed;
}


.subheader {
  border-top: 1px solid #333;
  padding-top: 10px;
  position: relative;
  z-index: 2;
  h3 {
    color: #666;
    font-size: 16px;
    text-transform: lowercase;
    font-family: "Open Sans";
    // font-weight: 600;
    color: #999;

  }
  .filters {
    float: right;
    .main-label {
      text-transform: lowercase;
      color: #999;
      float: left;
      margin-right: 8px;
    }
    .filter {
      display: block;
      position: relative;
      z-index: 10;
      float: left;
      padding: 5px 5px 5px 8px;
      margin: -5px -5px -5px 0;
      border: 1px solid transparent;
      cursor: default;
      .icon {
        color: #999;
      }
      .border-radius(3px);
      .label {
        text-transform: lowercase;
        color: #999;
        letter-spacing: 2px;
      }
      ul {
        display: none;
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        padding: 5px 5px 5px 8px;
        li {
          margin: 0;
          padding: 5px 0;
          background: #fff;
          color: #666;
          cursor: pointer;
          &:hover {
            color: #333;
          }
        }
      }
      &:hover {
        border: 1px solid #f0f0f0;
        .box-shadow(1px 1px 1px rgba(0,0,0,0.1));
        ul {
          display: block;
        }
      }
    }
  }
}

#masthead {
  padding: 1vw 0;
  background: #f0f0f0;
  img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 5px auto 0;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 200;
    font-size: 2vw;
    line-height: 4vw;
    margin: .5vw 0 0;
    color: #000;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  p {
    width: 1%;
    margin: .5vw 0 0;
    display: table-cell;
    height: 4vw;
    vertical-align: middle;
    text-align: right;
    font-family: "Playfair Display";
    font-size: 1vw;
    color: #666;
  }
}

#hello {
  #sections {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        .box-shadow(1px 1px 3px rgba(0,0,0,0.2));
        padding: 20px;
        .border-radius(3px);
        margin: 0 0 10px;
        h3,
        p {
          margin: 0;
        }
      }
    }
  }
}

@import "partials/indicador";

@import "partials/eixo";

@import "mobile";
